footer {
    background-color: rgba(229, 233, 44, 0.4);
    width: 100%;
    height: 100px;
    display: flex;
  }
  
  .reseau {
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  
  .reseau img {
    height: 30px;
  }

  .pouloulou {
    width: 100%;
    display: flex;
    justify-content: center;
  }