.gauche,
.droite {
  display: flex;
  justify-content: center;
}

.gauche {
  margin-top: 80px;
}

.droite {
  margin-bottom: 80px;
}

.buttonmap {
  background-color: #78a861;
}

.buttonweather {
  background-color: #32d2f5;
}

.buttontips {
  background-color: #fa7414;
}

.buttoncity {
  background-color: #e5e92c;
}

.buttoncity,
.buttontips,
.buttonweather,
.buttonmap {
  border-radius: 15px;
  width: 400px;
  height: 250px;
  border: none;
  margin: 40px;
}

.bloc-button h2 {
  color: aliceblue;
}

.bloc-button img {
  padding: 20px;
}

@media screen and (max-width: 428px) {
  .gauche,
  .droite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttoncity,
  .buttontips,
  .buttonweather,
  .buttonmap {
    width: 300px;
    height: 220px;
    margin: 20px;
  }
  .bloc-button h2 {
    font-size: 18px;
  }
}
